<div class="jeux-container"> 
    <div class="jeux-vedette margin-b-35">
        <div class="header-section">
            <span class="section-title"> Jeux en vedette</span>
            <img src="./../../../assets/icons/angle-right.svg" />
        </div>

        <owl-carousel-o [options]="customVedetteOptions">
            <ng-container *ngFor="let item of jeuxVedette" >
                <ng-template carouselSlide [id]="item.title">
                    <gara-swiper-card 
                    [avatar]="item.image"
                    [image]="item.background"
                    [description]="item.description"
                    [title]="item.title"
                    [downloadUrl]="item.downloadUrl">
                </gara-swiper-card>
                </ng-template>
            </ng-container>
        </owl-carousel-o>   
    </div>


    <div class="continue-play margin-b-35">
        <div class="header-section">
            <span class="section-title"> Continuer à jouer</span>
            <img src="./../../../assets/icons/angle-right.svg" />
        </div>

        <div class="rating">
            <owl-carousel-o [options]="customContinueOptions">
                    <ng-template carouselSlide *ngFor="let item of continue">
                        <gara-jeux-card  
                        [image]="item.image"
                        [rate]="item.rate"
                        [type]="item.type"
                        [title]="item.title">
                    </gara-jeux-card>
                    </ng-template>
            </owl-carousel-o> 
        </div>

     

    </div>

    <div class="new margin-b-35">

        <div class="header-section">
            <span class="section-title"> Nouveautés</span>
            <img src="./../../../assets/icons/angle-right.svg" />
        </div>

        <div class="download">
            <owl-carousel-o [options]="customContinueOptions">
                <ng-template carouselSlide *ngFor="let item of news">
                    <gara-jeux-card  
                    [image]="item.image"
                    [rate]="item.rate"
                    [type]="item.type"
                    [title]="item.title">
                </gara-jeux-card>
                </ng-template>
            </owl-carousel-o> 
           
        </div>
    </div>

       <div class="recommend margin-b-35">
        
        <div class="header-section">
            <span class="section-title">Gara recommande</span>
            <img src="./../../../assets/icons/angle-right.svg" />
        </div>


        <div class="rating">
            <owl-carousel-o [options]="customContinueOptions">
                <ng-template carouselSlide *ngFor="let item of recommand">
                    <gara-jeux-card  
                    [image]="item.image"
                    [rate]="item.rate"
                    [type]="item.type"
                    [title]="item.title">
                </gara-jeux-card>
                </ng-template>
            </owl-carousel-o> 
          
        </div>

       
        </div>

        <div class="masseka margin-b-35">

            <div class="header-section">
                <span class="section-title"> Par Masseka</span>
                <img src="./../../../assets/icons/angle-right.svg" />
            </div>
    
            <div class="download" *ngFor="let item of masska" class="margin-bottom-14">
                <gara-download-card 
                    [image]="item.image"
                    [title]="item.title"
                    [rate]="item.rate"
                    [type]="item.type"
                    [downloadUrl]="item.downloadUrl"
                ></gara-download-card>
            </div>
        </div>

        <div class="studio-africain margin-b-35">

            <div class="header-section">
                <span class="section-title">Par des studios africains</span>
                <img src="./../../../assets/icons/angle-right.svg" />
            </div>
    
            <div class="download" *ngFor="let item of studioAfricain" class="margin-bottom-14">
                <gara-download-card 
                    [image]="item.image"
                    [title]="item.title"
                    [rate]="item.rate"
                    [type]="item.type"
                ></gara-download-card>
            </div>
        </div>


        <!--<div class="tandance margin-b-35">

            <div class="header-section">
                <span class="section-title">Tendance Jeuw</span>
                <img src="./../../../assets/icons/angle-right.svg" />
            </div>
    
            <div class="download">
                <gara-download-card></gara-download-card>
            </div>
        </div>

        <div class="plaire margin-b-35">

            <div class="header-section">
                <span class="section-title">Jeux qui pourraient te plaire</span>
                <img src="./../../../assets/icons/angle-right.svg" />
            </div>
    
            <div class="rating">
                <gara-jeux-card *ngFor="let item of autre"
                    [image]="item.image"
                    [rate]="item.rate"
                    [type]="item.type"
                    [title]="item.title"
                ></gara-jeux-card>
            </div>
        </div>-->

        <div class="action">
            <div class="download"  *ngFor="let item of action" class="margin-bottom-14">
                <gara-download-card
                [image]="item.image"
                [title]="item.title"
                [rate]="item.rate"
                [type]="item.type"
                [downloadUrl]="item.downloadUrl"></gara-download-card>
            </div>
        </div>

</div>