<div class="jeux-container"> 
    <div class="jeux-vedette margin-b-35">
        <div class="header-section">
            <span class="section-title"> Jeux en vedette</span>
            <img src="./../../../assets/icons/angle-right.svg" />
        </div>

        <owl-carousel-o [options]="customVedetteOptions">
            <ng-container *ngFor="let item of jeuxVedette" >
                <ng-template carouselSlide [id]="item.title">
                    <gara-swiper-card 
                    [avatar]="item.image"
                    [image]="item.background"
                    [description]="item.description"
                    [title]="item.title"
                    [downloadUrl]="item.downloadUrl">
                </gara-swiper-card>
                </ng-template>
            </ng-container>
        </owl-carousel-o>   
    </div>


    <div class="continue-play margin-b-35">
        <div class="header-section">
            <span class="section-title"> Continuer à jouer</span>
            <img src="./../../../assets/icons/angle-right.svg" />
        </div>

        <div class="rating d-flex ">
           
                        <gara-jeux-card   *ngFor="let item of continue" class="margin-right-12"
                        [image]="item.image"
                        [rate]="item.rate"
                        [type]="item.type"
                        [title]="item.title">
                    </gara-jeux-card>
                    
        </div>

     

    </div>

    <div class="new margin-b-35">

        <div class="header-section">
            <span class="section-title"> Nouveautés</span>
            <img src="./../../../assets/icons/angle-right.svg" />
        </div>

        <div class="download d-flex">
           
                    <gara-jeux-card  *ngFor="let item of news" class="margin-right-12"
                    [image]="item.image"
                    [rate]="item.rate"
                    [type]="item.type"
                    [title]="item.title">
                </gara-jeux-card>
             > 
           
        </div>
    </div>

       <div class="recommend margin-b-35">
        
        <div class="header-section">
            <img class="me-3" src="./../../../assets/icons/crown.svg" />
            <span class="section-title">Gara recommande</span>
            <img src="./../../../assets/icons/angle-right.svg" />
        </div>


        <div class="rating d-flex">
            
                    <gara-jeux-card  *ngFor="let item of recommand" class="margin-right-12"
                    [image]="item.image"
                    [rate]="item.rate"
                    [type]="item.type"
                    [title]="item.title">
                </gara-jeux-card>
                
          
        </div>

       
        </div>

        <div class="masseka margin-b-35">

            <div class="header-section">
                <span class="section-title"> Par Masseka</span>
                <img src="./../../../assets/icons/angle-right.svg" />
            </div>
    
            <div class="download" class="d-flex flex-wrap" >
                <gara-download-card *ngFor="let item of masska" class="margin-bottom-14 margin-right-25"
                    [image]="item.image"
                    [title]="item.title"
                    [rate]="item.rate"
                    [type]="item.type"
                    [downloadUrl]="item.downloadUrl"
                ></gara-download-card>
            </div>
        </div>

        <div class="studio-africain margin-b-35">

            <div class="header-section">
                <span class="section-title">Par des studios africains</span>
                <img src="./../../../assets/icons/angle-right.svg" />
            </div>
    
            <div class="download" class="d-flex flex-wrap" >
                <gara-download-card  *ngFor="let item of studioAfricain" class="margin-bottom-14 margin-right-25"
                    [image]="item.image"
                    [title]="item.title"
                    [rate]="item.rate"
                    [type]="item.type"
                ></gara-download-card>
            </div>
        </div>


       <div class="tandance margin-b-35">

            <div class="header-section">
                <span class="section-title">Tendance Jeuw</span>
                <img src="./../../../assets/icons/angle-right.svg" />
            </div>
    
            <div class="download-card d-flex">

                <img src="./../../../assets/images/{{item.image}}" class="margin-right-12" *ngFor="let item of tendance">/>
            </div>
        </div>

         <div class="plaire margin-b-35">

            <div class="header-section">
                <span class="section-title">Jeux qui pourraient te plaire</span>
                <img src="./../../../assets/icons/angle-right.svg" />
            </div>
    
            <div class="autre d-flex">
                
                        <gara-jeux-card  *ngFor="let item of autre" class="margin-right-12">
                        [image]="item.image"
                        [rate]="item.rate"
                        [type]="item.type"
                        [title]="item.title">
                    </gara-jeux-card>
                   
            </div>
        </div>

        <div class="action">
            <gara-action-tab  class="margin-b-33"/>
            <div class="download"  class="d-flex flex-wrap justify-content-center" >
                <gara-download-card *ngFor="let item of action" class="margin-bottom-14 margin-right-25"
                [image]="item.image"
                [title]="item.title"
                [rate]="item.rate"
                [type]="item.type"
                [downloadUrl]="item.downloadUrl"></gara-download-card>
            </div>
            <div class="see-more"> <p>Voir plus</p></div>
        </div>

</div>