.swiper-card-container{
    width: 327px;
    height: 290px;
    border-radius: 16px ;
   // background-image: url("./../../../assets/images/image1.png");;
    background-image:
     linear-gradient(180deg, #1c1d2e03 0%, rgba(28, 29, 46, 0.78) 28.65%, #1C1D2E 68.75%),
        url("./../../../assets/images/bakoBg.png");
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

   .content{
    margin-top: auto;
    padding-left: 26px;
    padding-bottom: 24px;
    padding-right: 29px;
        .card-title, .downloadUrl button{
            color: #FFF;
            font-size: 12px;
            font-weight: 800;
        }

        .card-text{
            color: #6E708F;
        font-size: 12px;
        font-weight: 400;
        }

        .avatar{
            margin-bottom: 12px;
            img{
                width: 55px;
                height: 55px;
                flex-shrink: 0;
                border-radius: 16px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
            
        }
        .text{
            margin-right: 10px;
        }

        .downloadUrl{
            button {
                background-color: #28293D;
                border-radius: 50px;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.56px;
            }
        }
    }

}