@import './../../../assets/styles/constant.scss';

.tab-jeux-button{
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-right: 2.5rem;
    display: flex;
    justify-content: center;

    .tab-jeux{
        background-color: $gara-dark;
        height: 4.6rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        width: max-content;
        border-radius: 4.8rem;
        button{  

            width: 14.8rem;
            height: 3.6rem;
            color: $gara-primary;;
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
            &.active {
            background-color: $gara-primary;
            border-radius: 3.4rem;
            color: $gara-sea-green;
            font-size: 1.4rem;
            font-weight: 800;
            line-height: 140%; 
                
            }
            
            &.play-now{
                img{
                    margin-left: 0.6rem;
                }
            }
        }
    }
}