
.navigation-bar{
    z-index: 6;
    width: 383px;
    height: 62px;
    background-color: #186841;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: calc(100vh - 86px);
    padding: 10px;
    left: 50%;
    margin-left: -191px;

    
 ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    li  {
        font-family: sans-serif;
        font-size: 11px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #000;
        line-height: 1;
        vertical-align: middle;
        display: flex;
        align-items: center;
        border-radius: 3em;
        padding: 0.75em 1.25em;
        transition: 0.6s ease-in-out;
        
        img{
            width: 28px;
            height: 28px;
        }
        span {
            display: inline-block;
            overflow: hidden;
            max-width: 0;
            opacity: 0;
            padding-left: 0.5em;
            transform: translate3d(-0.5em, 0, 0);
            transition: opacity 0.6s, max-width 0.6s, transform 0.6s;
            transition-timing-function: ease-in-out;
          }

        &.pass{
            background-color: #0D2F20;
            width: 42px;
            height: 42px;
            border-radius: 50%;  
            display: flex;
            justify-content: center;
            align-items: center;      
        }

        &:hover:not(.book, .film),
        &.is-active:not(.book, .film) {
            color: #fff;
            background-color: #0D2F20;
        }

       &:hover:not(.book, .film) span,
        &.is-active:not(.book, .film) span {
            opacity: 1;
            max-width: 40px;
            transform: translate3d(0, 0, 0);
            color: #FFF;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
        }
      }
  }


}
// this  css added because the the svg not correctly added in design
.film img, .book img {
    width: 121px !important;
    height: 62px !important;
    
 
}
.book img{
    position: absolute;
    bottom: 0px;
    right: 111px;
}
.film img{
        position: absolute;
        bottom: 0px;
        right: 43px;
}