@import './../assets/styles/constant.scss';

.gara-container{
    padding-left: 2.5rem;
    padding-top:2.5rem;
    padding-bottom: 3.9rem;
    background-color:  #1C1D2E;
    height: 100vh;
    overflow-y: scroll;
}