@import './../assets/styles/constant.scss';

.gara-container{
    padding-bottom: 3.9rem;
    background-color:  #1C1D2E;
    height: 100vh;
    overflow-x: hidden;
    .header-container{
        position: fixed;
        background-color:  #1C1D2E;
        width: 100%;
        z-index: 3; //added because carousel use z-index
    /*    background: 
        linear-gradient(to bottom right, #186841 16%, rgba(40, 41, 61, 0.00) 50%) bottom right / 50% 50% no-repeat, 
        linear-gradient(to bottom left, #186841 16%, rgba(40, 41, 61, 0.00) 50%) bottom left / 50% 50% no-repeat, 
        linear-gradient(to top left, #186841 16%, rgba(40, 41, 61, 0.00) 50%) top left / 50% 50% no-repeat, 
        linear-gradient(to top right, #186841 16%, rgba(40, 41, 61, 0.00) 50%) top right / 50% 50% no-repeat;*/
      
    }
    .gara-content{
        margin-top: 8.3rem;
        padding-left: 2.5rem;
        overflow-y: scroll;
        height: calc(100vh - 5.5rem); 
        overflow-x: hidden;

    }
}