<div class="d-flex header-container">
    <div class="logo-container d-flex align-items-center">
        <div class="logo  d-flex align-items-center"><img src="./../../../assets/icons/gara-logo.svg" /></div>
        <div class="text">235</div>
        <div class="pg  d-flex align-items-center"><img src="./../../../assets/icons/pg.svg" /></div>
    </div>
    <div class="d-flex align-items-center notifications">
        <div class="search"><img src="./../../../assets/icons/pg.svg" /></div>
        <div class="notification">
            <div class="bell"><img src="./../../../assets/icons/pg.svg" /></div>
            <div class="number">5</div>
        </div>
    </div>
   
</div>