@import './../../../assets/styles/constant.scss';

.header-container{
    padding-right: 2.5rem;
    padding-bottom: 0.7rem;

    .logo-container{
        width: 13.5rem;
        height: 5.5rem;
        background-color: $gara-judge-gray;
        border-radius: 5.5rem;
        padding:0.6rem;
        .logo{
        margin-right: 0.6rem;

        }
        .text{
            margin-right: 0.6rem;
            color: white;
            color: #FFF;
            font-size: 2rem;
            font-weight: 800;
            letter-spacing: 1.1px;
            text-transform: uppercase;

        }
        .pg{
            width: 1.8rem;
            height: 1.8rem;
        }
    }
    .notifications{
        margin-left: auto;

        .search, .notification{
            width: 3.8rem;
            height: 3.8rem;
            border-radius: 5rem;
            position: relative;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          

            
        }
        .notification{
            background-color: $gara-judge-gray;

        }

        .search{
            margin-right: 0.8rem;
        }

        .header-container{
            margin-right: 0.8rem;
        }
        .bell{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.7rem;
        
        
        }

    }   
}
