.card-container {
    padding: 1.2rem 1.6rem 1.2rem 1.2rem;
    align-items: center;
    border-radius: 1.6rem;
    background: #28293D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: max-content;
    height: 91px;
    .avatar {
        margin-right: 1.2rem;
        img {
            width: 6.7rem;
            height: 6.7rem;
            border-radius: 1.5rem;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
           
        }
    }
    .card-content{
        width: 14.7rem;
        height: 3rem;
        font-size: 1.4rem;
        .card-text {
            img {
                margin-right: 0.3rem;
                margin-left: 0.3rem;
            }
        }
    }
    .jeux-type{
        width: 4.9rem;
        height: 1.4rem;
        border-radius: 0.7rem;
        background-color: #8F90A6;
        color: #1C1D2E;
        font-size: 0.9rem;
        font-weight: 800;

    }

    .download-url{
        cursor: pointer;
        font-size: 1.4rem;
        height: 2.7rem;
        padding: 1.2rem;
        border-radius: 5rem;
        background: #1C1D2E;
        margin-left: 1.2rem;

    }
}