/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */

@import './assets/styles/constant.scss';

@import "./assets/styles/icomoon.css";

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
  
html, body {
    font-family: 'Manrope';
    color: #FFF;
}

.header-section{
    .section-title {
        font-weight:  800;
        font-size: 16px;
        color: #FFF;
        font-size: 16px;
        font-weight: 800;
        margin-right: 18px;
    }
}


.nav-tabs{
    --bs-nav-tabs-border-width : 0;
    justify-content: center;
    background-color: $gara-dark;
    height: 46px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    width: max-content;
    border-radius: 48px;
    .nav-item{
        
        display: fixed; 
        a{
            width: 148px;
            height: 36px;
            color: $gara-primary;;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }
        .active {
        background-color: $gara-primary;
        border-radius: 34px;
        color: $gara-sea-green;
        font-size: 14px;
        font-weight: 800;
        line-height: 140%; 
            
        }

        &.play-now{
            img{
                margin-left: 6px;
            }
           }
    }
 
}

.margin-b-35 {
margin-bottom: 35px;
}
.overflow-y-hidden{
    overflow-x: hidden;
}