<div class="navigation-bar d-flex justify-content-around align-items-center">
    <button class="btn is-active"  >
        <img src="./../../../assets/icons/profile.svg" />
        <span>Action</span>
    </button>
    <button class="btn" >
        <img src="./../../../assets/icons/games.svg" />
        <span>Arcades</span>    
    </button>
    <button class="btn" >
        <img src="./../../../assets/icons/ebooks.svg" />
        <span>Aventure</span>    
    </button>
    <button class="btn" >
        <img src="./../../../assets/icons/cartes.svg" />
        <span>Cartes</span>    
    </button>
</div>
